## Using bins!

#### Equal-size bins: pd.qcut (pd[ ' ' ], size)

In [157]:
bins = pd.qcut(cleveland['trestbps'], 4)
sex_bps_num  = cleveland.groupby(['sex',bins])['num'].value_counts()
sex_bps_num[:,:,1]

sex  trestbps
0.0  (93.999, 120.0]     1
     (120.0, 130.0]      6
     (130.0, 140.0]      6
     (140.0, 200.0]     12
1.0  (93.999, 120.0]    36
     (120.0, 130.0]     28
     (130.0, 140.0]     23
     (140.0, 200.0]     27
Name: num, dtype: int64

#### .reset_index() 可以把分层的弄到同一层
#### rename()函数！！！disease_percent.rename(columns={'count': 'n', 'mean': 'disease_pct'})

In [7]:
import pandas as pd
import numpy as np

cleveland = pd.read_csv('processed.cleveland.data', header=None,
                       names=['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
                              'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'],
                       na_values=['?'])

# def new_num(x):
#     if x == 0:
#         return 0
#     else:
#         return 1
#     return np.nan

# cleveland['num'] = cleveland['num'].apply(new_num)

cleveland.loc[cleveland['num'] > 0, 'num'] = 1

cleveland['age_group'] = pd.cut(cleveland['age'], [0, 40, 50, 60, 70, 100])
disease_percent = cleveland.groupby(['age_group', 'sex', 'restecg'])['num'].agg(['count', 'mean'])
disease_percent = disease_percent.reset_index()
disease_percent = disease_percent.rename(columns={'count': 'n', 'mean': 'disease_pct'})
disease_percent.head(5)

  age_group  sex  restecg  n  disease_pct
0   (0, 40]  0.0      0.0  5          0.0
1   (0, 40]  0.0      1.0  0          NaN
2   (0, 40]  0.0      2.0  0          NaN
3   (0, 40]  1.0      0.0  8          0.5
4   (0, 40]  1.0      1.0  0          NaN

In [58]:
import pandas as pd
import numpy as np

cleveland = pd.read_csv('processed.cleveland.data', header=None,
                       names=['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
                              'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'],
                       na_values=['?'])
# def new_num(x):
#     if x == 0:
#         return 0
#     else:
#         return 1
#     return np.nan

# cleveland['num'] = cleveland['num'].apply(new_num)

cleveland.loc[cleveland['num'] > 0, 'num'] = 1

cleveland['age_group'] = pd.cut(cleveland['age'], [0, 40, 50, 60, 70, 100])
age_cp_percent = cleveland.groupby(['age_group', 'cp'])['num'].mean().unstack()
age_cp_percent.head(5)

cp              1.0   2.0       3.0       4.0
age_group
(0, 40]    0.333333  0.00  0.000000  0.833333
(40, 50]   0.500000  0.05  0.200000  0.551724
(50, 60]   0.300000  0.30  0.176471  0.772727
(60, 70]   0.250000  0.40  0.368421  0.780488
(70, 100]       NaN  0.00  0.000000  0.500000

In [59]:
type(age_cp_percent)

pandas.core.frame.DataFrame

## Regular Expression

In [159]:
import numpy as np
import pandas as pd
import re
phone_numbers = pd.read_csv('phone-numbers.csv')
phone_numbers['phone'] = phone_numbers['phone'].str.strip()
def join_phone(x):
    result = x[0]+x[1]+x[2]
    if len(result)!=10:
        return np.nan
    return result[0:3]+'-'+result[3:6]+'-'+result[6:]
pattern = '[-\s()]*([0-9]+)[-\s()]*([0-9]+)[-\s()]*([0-9]+)'
data = phone_numbers['phone'].str.extract(pattern, flags=re.IGNORECASE)
phone_numbers['phone'] = data.agg(join_phone, axis=1)

In [160]:
data

           0       1      2
0        123     432   3843
1        124     143   1590
2   14297910       1      9
3        984     457   1128
4        439      58   2840
5        431     408   5831
6        532     583   5841
7        540     484   2553
8        549     483      2
9        119     583  42302
10       584     442   5522
11  45348745       8      4
12       542  585445      8
13       415     558   4224

#### use index to slice rows:  ramen.loc[indexs, : ]

#### Sort: .sort_values("column")

In [161]:
import pandas as pd
import numpy as np
import re
ramen = pd.read_csv('ramen-ratings.csv',dtype = {'Stars': 'float64'}, na_values = {'Unrated'})
ramen = ramen.drop('Review #', axis=1)
ramen.loc[(ramen['Country'] == 'United States'), 'Country'] = 'USA'

pattern = '(2016 #[0-9]*)'
data = ramen['Top Ten'].str.extract(pattern, flags=re.IGNORECASE).dropna()
indexs = data.index
rank_2016 = ramen.loc[indexs, : ].sort_values("Top Ten")

#### String可以直接被index: string[0:2]

In [162]:
import datetime
import pandas as pd
import numpy as np
import re
birthdays = pd.read_csv('birthdays.csv')
birthdays['birthday'] = birthdays['birthday'].str.strip()


def datecheck(x):
    if pd.isna(x[0]):
        return np.nan
    if x[0][0]=='0':
        x[0] = x[0][1]
    if x[1][0]=='0':
        x[1] = x[1][1]
    try:
        datetime.datetime(year=int(x[2]),month=int(x[0]) ,day=int(x[1]))
    except:
        return np.nan
    if len(x[0])==1:
        x[0] = '0'+x[0]
    if len(x[1])==1:
        x[1] = '0'+x[1]      
    return x[0]+'/'+x[1]+'/'+x[2]


pattern = '([0-9]+)[-\s/]*([0-9]+)[-\s/]*([0-9]+)'
data = birthdays['birthday'].str.extract(pattern, flags=re.IGNORECASE)
birthdays['birthday'] = data.agg(datecheck, axis=1)

## Data Cleaning

In [16]:
import pandas as pd
import numpy as np

ramen = pd.read_csv('ramen-ratings.csv',
                    dtype = {'Stars': 'float64'}, 
                    na_values = {'Unrated'})
ramen = ramen.drop('Review #', axis=1)
ramen.loc[(ramen['Country'] == 'United States'), 'Country'] = 'USA'
# ramen.loc[(ramen.Country.isin(['United States','USA']) ), 'Country'] = 'US'

In [17]:
import pandas as pd
cleveland = pd.read_csv('processed.cleveland.data',
                        dtype = {11: 'float64', 12: 'float64'}, 
                        na_values = {'?'}, 
                        names=['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 
                               'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'])

In [50]:
hungarian = pd.read_csv('processed.hungarian.data',dtype = {11: 'float64', 12: 'float64'}, na_values = {'?'}, names=['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'])
switzerland = pd.read_csv('processed.switzerland.data',dtype = {11: 'float64', 12: 'float64'}, na_values = {'?'}, names=['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'])
va = pd.read_csv('processed.va.data',dtype = {11: 'float64', 12: 'float64'}, na_values = {'?'}, names=['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'])

#### Deal with missing value: pd. isnull (element)

#### Use mean value to replace missing value

In [37]:
def f(x):
    if pd.isnull(x['Stars']):
        mean_ = ramen[((ramen['Brand'] == x['Brand']) & (ramen['Country'] == x['Country']))]['Stars'].mean()
        x.loc['Stars'] = mean_
    return x

ramen = ramen.apply(f, axis = 1)

#### Find all row with at least one missing value
#### pd.isnull() returns 判断每一个element是不是null

In [31]:
missing_data = cleveland[cleveland.isnull().any(axis=1)]
missing_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
87,53.0,0.0,3.0,128.0,216.0,0.0,2.0,115.0,0.0,0.0,1.0,0.0,NaN,0
166,52.0,1.0,3.0,138.0,223.0,0.0,0.0,169.0,0.0,0.0,1.0,NaN,3.0,0
192,43.0,1.0,4.0,132.0,247.0,1.0,2.0,143.0,1.0,0.1,2.0,NaN,7.0,1
266,52.0,1.0,4.0,128.0,204.0,1.0,0.0,156.0,1.0,1.0,2.0,0.0,NaN,2
287,58.0,1.0,2.0,125.0,220.0,0.0,0.0,144.0,0.0,0.4,2.0,NaN,7.0,0
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,NaN,3.0,0

In [30]:
# 判断column
missing_data = cleveland.isnull().any(axis=0)
missing_data

age         False
sex         False
cp          False
trestbps    False
chol        False
fbs         False
restecg     False
thalach     False
exang       False
oldpeak     False
slope       False
ca           True
thal         True
num         False
dtype: bool

#### use mode to fill missing value

In [41]:
def f(x):
    if pd.isnull(x['ca']):
        mode = cleveland[((cleveland['sex'] == x['sex']) & (cleveland['num'] == x['num']))]['ca'].mode()
        x.loc['ca'] = mode[0]
    if pd.isnull(x['thal']):
        mode2 = cleveland[((cleveland['sex'] == x['sex']) & (cleveland['num'] == x['num']))]['thal'].mode()
        x.loc['thal'] = mode2[0]  
    return x
cleveland = cleveland.apply(f, axis = 1)
cleveland['num'] = cleveland['num'].astype('int64')

## Create new columns

#### Create new column and value_counts()
apply()函数会把有些数据type变掉，所以要加一行cleveland['num'] = cleveland['num'].astype('int64')把数据type变回去

#### count how many observations of each type

In [40]:
# def f(x):
#     if x['cp']==1.0 :
#         x.loc['cp'] = 'typical angina'
#     if x['cp']==2.0 :
#         x.loc['cp'] = 'atypical angina'
#     if x['cp']==3.0 :
#         x.loc['cp'] = 'non-anginal pain'
#     if x['cp']==4.0 :
#         x.loc['cp'] = 'asymptomatic'
#     return x

# cleveland = cleveland.apply(f, axis = 1)

def f(x):
    if x==1.0 :
        #print(x)
        x = 'typical angina'
    if x==2.0 :
        #print(x)
        x = 'atypical angina'
    if x==3.0 :
        #print(x)
        x = 'non-anginal pain'
    if x==4.0 :
        #print(x)
        x = 'asymptomatic'
    return x

cleveland['cp'] = cleveland['cp'].apply(f)

cleveland['num'] = cleveland['num'].astype('int64')
counts = cleveland['cp'].value_counts()
counts

asymptomatic        144
non-anginal pain     86
atypical angina      50
typical angina       23
Name: cp, dtype: int64

In [42]:
def f(x):
    if x['slope']==1.0 : #upsloping
        if x['thalach'] >=160.0:
            x['thalach_level'] = 'high'
        else:
            x['thalach_level'] = 'low'
    if x['slope']==2.0 : #flat
        if x['thalach'] >=140.0:
            x['thalach_level'] = 'high'
        else:
            x['thalach_level'] = 'low'
        
    if x['slope']==3.0 : #downsloping
        if x['thalach'] >=145.0:
            x['thalach_level'] = 'high'
        else:
            x['thalach_level'] = 'low'
    return x

cleveland = cleveland.apply(f, axis = 1)
cleveland['num'] = cleveland['num'].astype('int64')

In [48]:
import pandas as pd
cleveland = pd.read_csv('processed.cleveland.data',
                        dtype = {11: 'float64', 12: 'float64'}, 
                        na_values = {'?'}, 
                        names=['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 
                               'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'])
def f(x):
    if x['age']<=50 : #upsloping
        if x['trestbps'] < 120:
            x['risk'] = 0
        elif x['trestbps'] < 140:
            x['risk'] = 1
        else:
            x['risk'] = 2
    elif x['age']<= 60 : #flat
        if x['trestbps'] < 130:
            x['risk'] = 0
        elif x['trestbps'] < 150:
            x['risk'] = 1
        else:
            x['risk'] = 2
    else: #flat
        if x['trestbps'] < 140:
            x['risk'] = 0
        elif x['trestbps'] < 150:
            x['risk'] = 1
        else:
            x['risk'] = 2
    return x

cleveland = cleveland.apply(f, axis = 1)
cleveland['num'] = cleveland['num'].astype('int64')
cleveland['risk'] = cleveland['risk'].astype('int64')
cleveland.dtypes

age         float64
sex         float64
cp          float64
trestbps    float64
chol        float64
fbs         float64
restecg     float64
thalach     float64
exang       float64
oldpeak     float64
slope       float64
ca          float64
thal        float64
num           int64
risk          int64
dtype: object

## Combining Datasets: pd.concat([a,b,c,d], ignore_index=True)

#### Combine all these 4 DataFrames into a single DataFrame with 
### updated index and a new column called 'location' 
#### with the info on where the patient's data was collected

In [51]:
c = cleveland.copy()
c["location"] = "cleveland"
h = hungarian.copy()
h["location"] = "hungarian"
s = switzerland.copy()
s["location"] = "switzerland"
v = va.copy()
v["location"] = "va"
frames = [c, h, s, v]
heart_disease = pd.concat(frames,ignore_index=True)

#### Perform inner join using the shared keys.

In [56]:
green = pd.read_csv('green-int-ramen.csv')
green_ramen  = pd.merge(green,ramen, 
                        how='inner',
                        left_on=['brand','name','packaging','from'],
                        right_on=['Brand','Variety','Style','Country'])
green_ramen = green_ramen[['brand', 'name', 'packaging', 'from', 'sales', 'Stars', 'Top Ten']]

## Filtering Using Hierarchical Indexing. 
#### Use groupby(,as_index=False) to avoid.
#### idx = pd.IndexSlice  ||  fbs_false = sex_fbs_exang.loc[idx[:, 0, :], :]
#### unstack() 可以 转化 series -> dataframe, or 分层dataframe

#### 纯series的操作

In [73]:
ramen = pd.read_csv('clean-ramen.csv')
brand_style_country_avg = ramen.groupby(['Brand', 'Style', 'Country'])['Stars'].mean()
vietnam_ramen = brand_style_country_avg[:,:,'Vietnam']
nissin_usa_ramen = brand_style_country_avg['Nissin'][:,'USA']

In [74]:
nissin_usa_ramen

Style
Bowl    3.250000
Cup     3.389286
Pack    3.750000
Tray    3.600000
Name: Stars, dtype: float64

In [69]:
vietnam_ramen.head(3)

Brand     Style
A-One     Cup      2.750000
Acecook   Pack     4.000000
Binh Tay  Pack     3.416667
Name: Stars, dtype: float64

#### 纯dataframe的操作, unstack()的意义

In [129]:
sex_fbs_exang = cleveland.groupby(['sex', 'fbs', 'exang'])[['trestbps', 'chol']].mean()
idx = pd.IndexSlice
fbs_false = sex_fbs_exang.loc[idx[:, 0, :], :]
fbs_no_exang = sex_fbs_exang.unstack().loc[idx[:, 1], idx[:, 0]]

In [133]:
sex_fbs_exang.unstack().loc[idx[:, 1], idx[:,0]]

           trestbps        chol
exang           0.0         0.0
sex fbs
0.0 1.0  132.714286  294.285714
1.0 1.0  137.500000  225.045455

In [136]:
fbs_false = sex_fbs_exang.loc[idx[:, 1, 0], :]
fbs_false

                 trestbps        chol
sex fbs exang
0.0 1.0 0.0    132.714286  294.285714
1.0 1.0 0.0    137.500000  225.045455

#### unstack() 可以 转化 series -> dataframe, or 分层dataframe

In [148]:
cleveland.loc[(cleveland['num'] != 0), 'num'] = 1
sex_cp_percent = cleveland.groupby(['sex', 'cp'])['num'].mean()
sex_cp_percent

sex  cp
0.0  1.0    0.000000
     2.0    0.111111
     3.0    0.028571
     4.0    0.550000
1.0  1.0    0.368421
     2.0    0.218750
     3.0    0.333333
     4.0    0.798077
Name: num, dtype: float64

In [149]:
sex_cp_percent.unstack()

cp        1.0       2.0       3.0       4.0
sex
0.0  0.000000  0.111111  0.028571  0.550000
1.0  0.368421  0.218750  0.333333  0.798077

## Filtering

In [164]:
import pandas as pd

insurance = pd.read_csv('insurance.csv')
result = insurance[(insurance['bmi'] < 24) & (insurance['region'] == 'northwest')]

In [165]:
import pandas as pd

insurance = pd.read_csv('insurance.csv')
result = insurance[(insurance['bmi'] < 24) | (insurance['region'] == 'northwest')]

In [166]:
import pandas as pd

ramen = pd.read_csv('clean-ramen.csv')
result = ramen[(ramen['Stars'] >= 4) & ((ramen['Country'] == 'Vietnam') | (ramen['Country'] == 'Cambodia'))]

In [167]:
import pandas as pd

ramen = pd.read_csv('clean-ramen.csv')
result = ramen[((ramen['Stars'] >= 4) & (ramen['Stars'] <= 5) ) & (ramen['Country'] == 'South Korea')]

## Sort

In [177]:
ramen = pd.read_csv('clean-ramen.csv')
best = ramen[ramen['Country'] == 'USA'].sort_values(by=['Stars','Brand'], ascending=[False,True]).head(10)
ramen

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75
...,...,...,...,...,...
2570,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50
2571,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00
2572,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00
2573,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00
2574,Westbrae,Miso Ramen,Pack,USA,0.50